{% extends 'base.html.twig' %}

{% block title %}New StudentUser{% endblock %}

{% block body %}

    <br><br>
    <div class="margin-left_acceuil">
        {{ include('student/_form.html.twig') }}<br>

        <a class="btn btn-danger" href="{{ path('student_index') }}">Annuler</a>
    </div>
{% endblock %}
