{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 class="center">Bienvenue</h1>

<br><br><div class="center centre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ad itaque illum nostrum dolore aspernatur dolor! Doloribus inventore repellat dolores perferendis vel provident, aliquid odit sunt, itaque, excepturi quam suscipit!
Porro impedit tenetur distinctio tempora voluptate fugiat inventore eius adipisci maxime minus assumenda, id doloribus! Porro molestias veritatis accusantium accusamus rem doloribus assumenda quam quasi temporibus quisquam! Quasi, sit molestiae!
Libero aspernatur nesciunt, quisquam atque odio molestiae harum unde blanditiis porro tempora magnam deleniti fugit similique ad doloremque amet sed a inventore perferendis, voluptate veritatis id repudiandae veniam. Quo, incidunt.
Cum quos officia atque vel. Facere ipsa odio minus ducimus ratione aliquid, libero reprehenderit nostrum sit ullam dolores ipsum eum debitis sunt obcaecati, provident velit tempora tempore optio accusantium saepe!
Sequi blanditiis hic velit doloribus atque, obcaecati rerum sit impedit? Praesentium dolor repellat dicta, quam quo nobis quasi exercitationem repudiandae ea maiores! Rerum modi quis excepturi molestias obcaecati saepe. Temporibus.
Similique dicta exercitationem quas suscipit unde quod? Laudantium, iste non qui corporis adipisci odit ex, voluptatibus possimus ducimus nulla expedita quae veritatis eaque nobis repellat, molestias ipsam. Ut, neque ab?
Doloribus quos fugiat quasi, maxime, rerum quo quaerat iure rem nihil repudiandae doloremque sed recusandae porro inventore, facilis delectus accusamus labore itaque voluptatibus laudantium veniam eaque vel adipisci iste. Esse.
In eum, ducimus quo laudantium vel neque necessitatibus rerum. Ducimus perferendis ipsam suscipit recusandae ab hic, aliquid ad? Reiciendis id necessitatibus quis quo delectus soluta ullam illo sint excepturi repellendus!
Omnis deleniti, dolorem vero sit, eaque culpa magnam labore in aut libero officia, delectus beatae molestiae nostrum nobis earum harum ipsa provident tempora dignissimos maxime reprehenderit vel voluptatibus. Placeat, odit.
Saepe beatae sint blanditiis natus quasi tenetur quas? Fugit eveniet rerum iusto quisquam at natus ex dolore id quasi ipsum vero inventore perspiciatis quas soluta impedit, recusandae, dicta ipsa quaerat.</div>

{% endblock %}
