{% extends 'base.html.twig' %}

{% block title %}New Matter{% endblock %}

{% block body %}
    <h1>Create new Matter</h1>

    {{ include('admin/matter/_form.html.twig') }}

    <a href="{{ path('admin_index') }}">back to list</a>
{% endblock %}
