{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}

    <h1 class="center">Note</h1>

    <a href="{{ path('noteProf_new') }}" class="btn btn-info">Donnez une note à un élève</a>

{% endblock %}
