{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <h1>Create new Note</h1>

    {{ include('profMatter/note/_form.html.twig') }}

    <a href="{{ path('noteProfIndex') }}">Annuler l'action</a>
{% endblock %}
