{% extends 'base.html.twig' %}

{% block title %}Edit Matter{% endblock %}

{% block body %}
    <h1>Edit Matter</h1>

    {{ include('matter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('matter_index') }}">back to list</a>

    {{ include('matter/_delete_form.html.twig') }}
{% endblock %}
