{% extends 'base.html.twig' %}

{% block title %}Matter index{% endblock %}

{% block body %}

    {% set count = 0 %}
    {% for matter in matters %}
        {% set count = count + 1 %}
    {% endfor %}

    <h1 class="center">Liste de toute les matières assigné à un professeur</h1>

    <table class="table">
        <thead>
            <tr class="center">
                <th>Matière</th>
                <th>Professeur assigné</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for matter in matters %}
                <tr class="center">
                    <td>{{ matter.name }}</td>
                    <td>{{ matter.user.fullname }}</td>
                    <td>
					<a href="{{ path('admin_edit', {'id': matter.id}) }}">modifier</a> / 
                    {{ include('admin/prof/_delete_form.html.twig') }}
				</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Il n'y a pas de prof assigné</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
